interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.opendata.nhs.scot/api/3/action/package_search?rows=a
  response:
    body:
      string: '{"help": "https://www.opendata.nhs.scot/api/3/action/help_show?name=package_search",
        "success": false, "error": {"rows": ["Invalid integer"], "__type": "Validation
        Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 409
      message: CONFLICT
version: 1
