interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.opendata.nhs.scot/api/3/action/package_search?rows=2
  response:
    body:
      string: '{"help": "https://www.opendata.nhs.scot/api/3/action/help_show?name=package_search",
        "success": true, "result": {"count": 93, "sort": "score desc, metadata_modified
        desc", "facets": {}, "results": [{"nhs_language": "English", "owner_org":
        "2c2f8c3a-107a-40f5-b9ea-eb29d5b13790", "maintainer": "Scottish Surveillance
        of Healthcare Associated Infections Programme (SSHAIP) Team", "relationships_as_object":
        [], "nhs_statistics_designation": "Official Statistics", "private": false,
        "maintainer_email": "nss.hpshaiic@nhs.scot", "num_tags": 11, "nhs_concepts":
        "Please refer to the methods and caveats document https://www.hps.scot.nhs.uk/web-resources-container/quarterly-epidemiological-commentary-for-the-surveillance-of-healthcare-associated-infections-in-scotland-methods-caveats/",
        "nhs_subject": "Infections in Scotland", "id": "e8d82157-1870-4458-9dc0-0e17e113e6c1",
        "metadata_created": "2020-02-05T15:12:43.382389", "nhs_disclosure": "The HPS
        protocol on Statistical Disclosure Protocol is followed.", "metadata_modified":
        "2023-01-26T12:42:32.955537", "author": "Antimicrobial Resistance and Healthcare
        Associated Infection (ARHAI) Group", "author_email": "nss.hpshaiic@nhs.scot",
        "nhs_links": "[Quarterly Epidemiological Commentary](https://www.hps.scot.nhs.uk/data/healthcare-associated-infection-quarterly-epidemiological-commentary)\r\n[Methods
        and Caveats](https://www.hps.scot.nhs.uk/web-resources-container/quarterly-epidemiological-commentary-for-the-surveillance-of-healthcare-associated-infections-in-scotland-methods-caveats/)",
        "state": "active", "version": "", "nhs_frequency": "Quarterly", "license_id":
        "uk-ogl", "type": "dataset", "resources": [{"mimetype": "text/csv", "cache_url":
        null, "hash": "", "description": "Quarterly statistics  for *Clostridioides
        difficile infection* (CDI), *Escherichia coli bacteraemia* (ECB), *Staphylococcus
        aureus bacteraemia* (SAB) and  Surgical Site Infection (SSI) in Scotland.
        Quarterly case numbers and denominator data are provided in order to calculate
        infection rates and SSI incidence for the 14 regional NHS boards and one Special
        NHS Board.\r\n\r\nPlease note data on Surgical Site Infections is not available
        for 2020, as surveillance of Surgical Site Infection was paused from 2020
        Q1 onwards due to COVID-19.\r\n\r\nSize: 16.6KB\r\n", "name": "Quarterly Epidemiological
        Data", "format": "CSV", "url": "https://www.opendata.nhs.scot/dataset/e8d82157-1870-4458-9dc0-0e17e113e6c1/resource/6d30b0c0-bdcf-4721-9d5c-bd7967c11bac/download/hai_quarterly_epi_od_2022_q3.csv",
        "datastore_active": true, "cache_last_updated": null, "package_id": "e8d82157-1870-4458-9dc0-0e17e113e6c1",
        "created": "2020-02-05T15:19:23.821869", "state": "active", "mimetype_inner":
        null, "last_modified": "2023-01-26T12:42:32.855583", "position": 0, "revision_id":
        "a2ee0faf-83e4-4f4c-a2a1-edf84b7dc49c", "url_type": "upload", "id": "6d30b0c0-bdcf-4721-9d5c-bd7967c11bac",
        "resource_type": null, "size": 36798}], "num_resources": 1, "tags": [{"vocabulary_id":
        null, "state": "active", "display_name": "bacteraemia", "id": "6141b6db-f186-4ab6-8feb-ba59fc0cd0db",
        "name": "bacteraemia"}, {"vocabulary_id": null, "state": "active", "display_name":
        "c. difficile", "id": "776f6658-9521-4744-bfe8-12dbe52fd1ec", "name": "c.
        difficile"}, {"vocabulary_id": null, "state": "active", "display_name": "cdi",
        "id": "e9bd2b2c-4446-4fc4-92bc-77243496f021", "name": "cdi"}, {"vocabulary_id":
        null, "state": "active", "display_name": "e. coli", "id": "a15f53d3-7d76-4e4d-87b2[...]
